<a href="https://colab.research.google.com/github/vavana619/Dacon-Daily-Python-Camp/blob/main/Lv1_%EB%AA%A8%EB%8D%B8%EB%A7%81_5_6_%ED%85%8C%EC%8A%A4%ED%8A%B8%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
--- 
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colabÏóê Î∂àÎü¨ÏòµÎãàÎã§.  
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§Ìñâ ÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [2]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-05-19 06:27:03--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-05-19 06:27:04--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.250.141.101, 142.250.141.139, 142.250.141.100, ...
Connecting to drive.google.com (drive.google.com)|142.250.141.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/eiv1amlajfkfdubql1ie9a5e1u0k2qak/1652941575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-05-19 06:27:04--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/eiv1amlajfkfdubql1ie9a5e1u0k2qak/1652941575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 142.250.141.132, 2607:f8b0:4023:c0b::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|142.250.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‚Äò3gLj0Q6‚Äô

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2022-05-19 06:27:04 (85.6 MB/s) - ‚Äò3gLj0Q6‚Äô saved [39208/39208]

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú pandas ÏôÄ DecisionTreeClassifier Î•º Î∂àÎü¨ÏòµÎãàÎã§.

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

## Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú csv ÌååÏùº Îç∞Ïù¥ÌÑ∞Î•º DataFrame Í∞ùÏ≤¥Î°ú Î∂àÎü¨ÏòµÎãàÎã§.

In [4]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [5]:
train.head(5)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [6]:
test.head(5)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

## Í≤∞Ï∏°Ïπò Ï†ÑÏ≤òÎ¶¨
---
train Ïùò Í≤∞Ï∏°ÏπòÎäî Ï†úÍ±∞ÌïòÍ≥†, test Ïùò Í≤∞Ï∏°ÏπòÎäî Î™®Îëê 0ÏúºÎ°ú ÎåÄÏ≤¥Ìï©ÎãàÎã§.

In [7]:
train = train.dropna() # Í≤∞Ï∏°Ïπò Ï†úÍ±∞
test = test.fillna(0) # Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê 0ÏúºÎ°ú ÎåÄÏ≤¥

print(train.isnull().sum())
print(test.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64
id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

## Î™®Îç∏ ÌõàÎ†®
---

In [8]:
X_train = train.drop(['count'], axis=1) # ÏòàÏ∏°Ïóê ÏÇ¨Ïö©ÎêòÎäî Î≥ÄÏàòÎì§
Y_train = train['count'] # ÏòàÏ∏°Í≤∞Í≥º Î≥ÄÏàò

In [10]:
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

## üëã Ïã§Ïäµ
---
predict() Î•º Ïù¥Ïö©Ìï¥ test data Î•º ÌõàÎ†®Îêú Î™®Îç∏Î°ú ÏòàÏ∏°Ìïú data Î•º ÏÉùÏÑ±ÌïòÍ≥† ÏòàÏ∏°Í≤∞Í≥º ÏÉÅÏúÑ 5Í∞úÎ•º Ï∂úÎ†•ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

In [13]:
# [Ìï†ÎãπÌï† array] = model.predict(test)
pred = model.predict(test)
pred[:5] # ÏÉÅÏúÑ 5Í∞ú Ï∂úÎ†•

array([106., 148., 113.,  49.,  64.])

## Ï†ïÎãµ (`Ïà®Í≤®ÏßÑ ÏÖÄ nÍ∞ú` Î•º ÎàÑÎ•¥ÏÑ∏Ïöî.)
---
ÏßàÎ¨∏ÏÇ¨Ìï≠ÏùÑ ÏñºÎßàÎì†ÏßÄ [Í≤åÏãúÍ∏Ä](https://dacon.io/competitions/open/235698/talkboard/403540?page=1&dtype=recent)Ïóê ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî üòâ <br>
Í∂ÅÍ∏àÌïú Í≤É, Ïù¥Ìï¥Í∞Ä Ïïà ÎêòÎäî Í≤É, ÏõêÎ¶¨, ÌôïÏû•Í∞úÎÖê, Ï∞∏Í≥† Îì±Îì± Î™®Îì† Î≤îÏúÑÏóêÏÑú ÏñºÎßàÎì†ÏßÄ ÏßàÎ¨∏ÏùÑ Îã¨ÏïÑÏ£ºÏÑ∏Ïöî üôã

In [ ]:
pred = model.predict(test)
pred[:5]

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)